.App {
  font-family: sans-serif;
  text-align: center;
}
.main-bg {
  height: 300px;
  background-image: url('https://raw.githubusercontent.com/wonjongsun/final-project-resource/refs/heads/main/image/s-main2.PNG');
  background-size: cover;
  background-position: center;
}
